@import 'src/css/colors.scss';

.input {
  font-size: 18px;
  font-weight: 400;
  padding: 18px 15px;
  width: 100%;
  height: 46px;
  color: $text;
  background-color: $background;
  border: 1px solid $border;
  border-radius: 10px;

  &:focus {
    outline: none;
  }

  &::placeholder {
    color: $text;
  }
}
